---
layout: default
aside_message : This is a page kind layout.
---

  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper pink">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header pink lighten-5">
          <div class="main_title"> 
            <h4 class="title is-4" itemprop="name headline">
              {{ page.title | default: site.title }}</h4>
          </div>
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ content }}
        </article>

      </div>
    </section>

  </main>

  <aside class="column is-one-thirds">

    <section class="aside-wrapper green">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header green lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-fingerprint is-pulled-right"></span>
        </div>

        <div class="widget-body">
          {{ layout.aside_message }}
        </div>

      </div>
    </section>

  </aside>
