---
layout: default
aside_message : This is a post kind layout.
---

  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper blue">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header blue lighten-5">
          <div class="main_title"> 
            <h4 class="title is-4" itemprop="name headline">
              <a href="{{ site.url | append:site.baseurl | append:page.url }}"
                >{{ page.title }}</a></h4>
            <p><strong>{{ page.date | date: "%B %d, %Y" }}</strong></p>
          </div>
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ content }}
        </article>

      </div>
    </section>

  </main>

  <aside class="column is-one-thirds">

    <section class="aside-wrapper teal">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header teal lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-scroll is-pulled-right"></span>
        </div>

        <div class="widget-body">
          {{ layout.aside_message }}
        </div>

      </div>
    </section>

  </aside>
