<section class="aside-wrapper {{ color }}">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ color }} lighten-4">
      {{ widget_header }}
    </div>
    
    <div class="widget-body">
      {{ widget_body }}
    </div>

  </div>
</section>
