{% assign color_main  = page.color_main
          | default: layout.color_main %}

{% assign postsByYear = posts
          | group_by_exp: "post", "post.date | date: '%Y'"  %}

<div id="archive">
{% for year in postsByYear %}

  <div>
    <div class ="anchor-target archive-year" 
         id="{{ year.name }}">
       {{ year.name | text_year }}
    </div>

    {% assign postsByMonth = year.items
              | group_by_exp:"post", "post.date | date: '%m'"
              | sort: 'name'
              | reverse %}

    <div class="columns is-multiline py-1">
    {% for month in postsByMonth %}
    <section class="column is-full-mobile
              is-half-tablet is-one-third-widescreen">

      <div class="widget white z-depth-1 hoverable mb-2">
        <div class="widget-header {{ color_main }} lighten-4">

          {% for post in month.items limit:1 %}
          <div class ="archive-month" 
               id="{{ year.name }}-{{ month.name }}">
               {{ post.date | date: '%b - %Y' }}</div>
          {% endfor %}

        </div>
        <div class="widget-body">

          <div class="archive-list py-1">
            {% for post in month.items %}
              {% include index/each-post.html %}
            {% endfor %}
          </div>

        </div>
      </div>

    </section>
    {% endfor %}
    </div>
  </div>

{% endfor %}
</div>
