{% assign color_main  = page.color_main
          | default: layout.color_main %}

{% assign postsByYear = posts |
          group_by_exp: "post", "post.date | date: '%Y'"  %}

<div class="columns is-multiline py-1" id="archive">
{% for year in postsByYear %}

  <section class="column is-full-mobile
              is-half-tablet is-one-third-widescreen">

    <div class="widget white z-depth-1 hoverable m-b-10">
      <div class="widget-header {{ color_main }} lighten-4">

        <div class ="anchor-target archive-year" 
             id="{{ year.name }}">{{ year.name | text_year }}</div>

      </div>
      <div class="widget-body">

        <div class="archive-list py-1">
          {% for post in year.items %}
            {% include index/each-post.html %}
          {% endfor %}
        </div>

      </div>
    </div>

  </section>

{% endfor %}
</div>
