  {% assign color_main  = page.color_main  | default: layout.color_main %}

  <div class="field is-grouped is-grouped-multiline">
  {% for item in (0..terms.size) %}{% unless forloop.last %}
    {% assign this_word = term_array[item] | strip_newlines %}
    <div class="tags has-addons">
      {{ $posts := where $value.Pages "Type" "post" }}
      {{ $postCount := len $posts -}}
      <a href="{{ site.baseurl }}/tags/{{ this_word | slugify }}/">
        <div class="tag is-light {{ color_main }} lighten-2 z-depth-1"
          >{{ this_word }} 
        </div><div class="tag is-dark {{ color_main }} darken-2 z-depth-1"
          >{{ terms[this_word].size }}
        </div>
      </a>
    </div>
    &nbsp;
  {% endunless %}{% endfor %}
    <div class="tags dummy"></div>
  </div>
