
  <nav role="navigation" aria-label="main navigation"
       class="navbar is-fixed-top is-white maxwidth
              white z-depth-3 hoverable"
       id="navbar-vue-app">
    <div class="navbar-brand">
      <a class="navbar-item"
         href="{{ site.baseurl | prepend:site.url }}">
        <img src="{{ site.baseurl }}/assets/images/logo-gear.png" 
           alt="Home" />
      </a>
      <a class="navbar-item"
         href="{{ site.baseurl }}/pages/">
        Blog
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Archives
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"
             href="{{ site.baseurl }}/tags/">
            <span class="fa fa-tags"></span>
            &nbsp;By Tags
          </a>
          <a class="navbar-item"
             href="{{ site.baseurl }}/categories/">
            <span class="fa fa-folder"></span>
            &nbsp;By Category
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item"
             href="{{ site.baseurl }}/by-year/">
            <span class="fa fa-calendar"></span>
            &nbsp;By Year
          </a>
          <a class="navbar-item"
             href="{{ site.baseurl }}/by-month/">
            <span class="fa fa-calendar"></span>
            &nbsp;By Month
          </a>
        </div>
      </div>

      <a role="button" class="navbar-burger burger" 
         aria-label="menu" aria-expanded="false" data-target="navbarBulma"
         @click="isOpen = !isOpen" v-bind:class="{'is-active': isOpen}">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBulma" class="navbar-menu"
         v-bind:class="{'is-active': isOpen}">
      <div class="navbar-start">
        <a class="navbar-item"
           href="{{ site.baseurl }}/pages/about">
          About
        </a>
      </div>

      <div class="navbar-end">
        <form class="is-marginless" action="/pages/search/" method="get">
        <div class="navbar-item">
          <input class="" type="text" name="q"
            placeholder="Search..." aria-label="Search">
          &nbsp;
          <button class="button is-light" 
            type="submit">Search</button>
        </div>
        </form>
      </div>

    </div>
  </nav>
