
  <!-- JavaScript at end of body for optimized loading -->
  <!--
  <script src="{{ site.baseurl }}/assets/js/vue.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/bulma-burger-vue.js"></script>
  -->
