
  {% assign color_main  = page.color_main  | default: layout.color_main %}

  <div class="post-list">
  {% for post in posts %}
    <div class="archive py-1">
    <div class="meta-item px-2 py-2 hoverable">

      <strong><a class="meta_link {{ color_main }}-text text-darken-3" 
        href="{{ post.url | prepend: site.baseurl }}"
        >{{ post.title }}
      </strong></a>

      {% include index/blog-each-meta.html %}

      <div>{{ post.excerpt }}</div>

      <div class="read-more is-light">
        <a href="{{ post.url | prepend: site.baseurl }}" 
           class="button is-dark is-small {{ color_main }} z-depth-1 hoverable"
          >Read More&nbsp;</a>
      </div>

    </div></div>
  {% endfor %}
  </div>

