
  <div class="meta">
    <div class="meta_time is-pulled-left">
      <i class="fa fa-calendar"></i>
      <time datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date: "%b %-d, %Y" }}</time>
    </div>      
    <div class="meta_tags is-pulled-right">
      {% for tag in post.tags %}
        <a class="tag is-small is-dark {{ color_main }} z-depth-1 hoverable"
           href="{{ site.baseurl }}/tags/#{{ tag | slugify }}"
          >{{ tag }}&nbsp;<span class="fa fa-folder"></span>
        </a>&nbsp;
      {% endfor %}
    </div>
  </div> 

  <div class="is-clearfix"></div>
