---
layout : default
---

  <main role="main" 
        class="column is-full">
    <article class="blog-post box">
      <h4 class="title is-4"
        >{{ page.title | default: site.title }}</h4>
      {{ content }}
    </article>

    <div class="box">
      This is a home kind layout,
      to show landing page.
    </div>
  </main>
