---
layout: home
---

  <br/>

  <p>
    <a class="button is-dark
              blue-grey darken-2 hoverable mb-1"
       href="{{ site.baseurl }}/by-month/index.html"
      >Articles Sorted by Month</a>
    <a class="button is-dark
              blue-grey darken-1 hoverable mb-1"
       href="{{ site.baseurl }}/tags/index.html"
      >Articles Sorted by Tag</a>
  </p>

  <p>As always,
  should you be caught or killed,
  any knowledge of your actions will be disavowed.</p>

  <div class="justify-content-center">
    <img src="{{ site.baseurl }}/assets/images/cards/one-page.png" 
         alt="business card">
  </div>

  <p>
    <span class="fas fa-home"></span>&nbsp;
      Whitewood Street, Monday Market,
      East Jakarta, 55112, Indonesia.
  </p>
