

  <div>
  {% for post in posts %}
    <div class="archive pb-2">
    <div class="p-2">

      <div class="meta">
        <a class="is-pulled-left" 
          href="{{ post.url | prepend: site.baseurl }}"
          >{{ post.title }}
        </a>
        <div class="is-pulled-right">
          {% for tag in post.tags %}
            <a class="tag is-small is-primary"
               href="{{ site.baseurl }}/tags/#{{ tag | slugify }}"
              >{{ tag }}
            </a>&nbsp;
          {% endfor %}
        </div>
      </div> 

      <div class="is-clearfix"></div>

    </div></div>
  {% endfor %}
  </div>

