
{% assign postsByYear = posts
          | group_by_exp: "post", "post.date | date: '%Y'"  %}

<div id="archive">
{% for year in postsByYear %}

  {% capture spaceless %}
    {% assign current_year = 'now' | date: '%Y' %}
    {% assign year_text = nil %}

    {% if year.name == current_year %}
      {% assign year_text = year.name
                | prepend: "This year's posts (" | append: ')' %}
    {% else %}
      {% assign year_text = year.name %}
    {% endif %}
  {% endcapture %}

  <section>
    <div class ="anchor-target" 
         id="{{ year.name }}">{{ year_text }}</div>

    <div>
      {% for post in year.items %}
      <div>
        <div class="is-pulled-left">
          <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a></div>
        <div class="is-pulled-right has-text-right">
        <time>
            {{ post.date | date:"%d %b" }}
        </time></div>
        <div class="is-clearfix"></div>
      </div>
      {% endfor %}
    </div>
  </section>

{% endfor %}
</div>
