
  <section id="archive">
  {% for item in (0..terms.size) %}{% unless forloop.last %}
    {% assign this_word = term_array[item] | strip_newlines %}
      <div id="{{ this_word | slugify }}" class ="anchor-target">
        <strong>{{ this_word }}</strong>
      </div>

      <div>
      {% for post in terms[this_word] %}
        {% if post.title != null %}
        <div>
          <div class="has-text-right">
            <time class="is-pulled-right"
                  datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%b %-d, %Y" }}&nbsp;
            </time></div>
          <div class="is-pulled-left">
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a></div>
          <div class="is-clearfix"></div>
        </div>
        {% endif %}
      {% endfor %}
      </div>

  {% endunless %}{% endfor %}
  </section>
