
  <div class="post-list">
  {% for post in posts %}
    <div class="archive pb-2">
    <div class="meta-item px-2 py-2 z-depth-1 hoverable">

      <div class="meta">
        <a class="meta_link pink-text text-darken-3 is-pulled-left" 
          href="{{ post.url | prepend: site.baseurl }}"
          >{{ post.title }}
        </a>
        <div class="meta_tags is-pulled-right">
          {% for tag in post.tags %}
            <a class="tag is-small is-dark pink z-depth-1 hoverable"
               href="{{ site.baseurl }}/tags/#{{ tag | slugify }}"
              >{{ tag }}&nbsp;<span class="fa fa-folder"></span>
            </a>&nbsp;
          {% endfor %}
        </div>
      </div> 

      <div class="is-clearfix"></div>

    </div></div>
  {% endfor %}
  </div>
