
{% assign postsByYear = posts
          | group_by_exp: "post", "post.date | date: '%Y'"  %}

<div id="archive">
{% for year in postsByYear %}

  {% capture spaceless %}
    {% assign current_year = 'now' | date: '%Y' %}
    {% assign year_text = nil %}

    {% if year.name == current_year %}
      {% assign year_text = year.name
                | prepend: "This year's posts (" | append: ')' %}
    {% else %}
      {% assign year_text = year.name %}
    {% endif %}
  {% endcapture %}

  <section>
    <div class ="anchor-target" 
         id="{{ year.name }}">{{ year_text }}
    </div>

    {% for post in year.items %}
      {% include index/each-post.html %}
    {% endfor %}
  </section>

{% endfor %}
</div>
