
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Table of Content</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <ul class="widget-list">
        <li><a href="{{ "/lyric/2018/09/13/julien-baker-sprained-ankle.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Julien Baker - Sprained Ankle</a></li>
        <li><a href="{{ "/lyric/2018/09/07/julien-baker-something.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Julien Baker - Something</a></li>
      </ul>

    </div>
  </div>
