
  <footer class="site-footer">
    <div class="navbar is-fixed-bottom maxwidth maxwidth_toggler
          is-white has-text-centered is-vcentered
          white z-depth-3 hoverable">
      <div class="column">
        &copy; {{ site.time | date: '%Y' }}
      </div>
    </div>
  </footer>
