
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Table of Content</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <ul class="widget-list">
        <li><a href="{{ "/lyric/2017/03/25/nicole-atkins-a-night-of-serious-drinking.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Nicole Atkins - A Night of Serious Drinking</a></li>
        <li><a href="{{ "/lyric/2017/03/15/nicole-atkins-a-litle-crazy.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Nicole Atkins -  A Little Crazy</a></li>
      </ul>

    </div>
  </div>
