
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Table of Content</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <ul class="widget-list">
        <li><a href="{{ "/lyric/2019/05/25/brooke-annibale-yours-and-mine.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Brooke Annibale - Yours and Mine</a></li>
        <li><a href="{{ "/lyric/2019/05/15/brooke-annibale-by-your-side.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Brooke Annibale - By Your Side</a></li>
      </ul>

    </div>
  </div>
