<!DOCTYPE html>
<html>

<head>
  {% include site/head.html %}
</head>

<body>
  {% comment %}
  {% include service/google-analytics.html %}
  {% endcomment %}

  {% include site/header.html %}

  <div class="columns is-8 layout-base maxwidth maxwidth_toggler">
    {{ content }}
  </div>

  {% include site/footer.html %}
  {% include site/scripts.html %}
</body>

</html>

