{% capture widget_header %}
  <strong>Archives</strong>
  <span class="fa fa-archive is-pulled-right"></span>
{% endcapture %}

{% capture widget_body %}
  <ul class="widget-list">
    {% for post in site.posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}"
        >{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
{% endcapture %}

{% assign color = "green" %}
{% include template/widget.html %}
