{% comment %}
fake randomize by using year day for array under 365 data
{% endcomment %}

{% capture widget_header %}
  <strong>BSD/Linux Customization</strong>
  <span class="fas fa-fingerprint is-pulled-right"></span>
{% endcapture %}

{% capture widget_body %}
  <ul class="widget-list">
    {% assign selection = site.data.archives_github | shuffle %}
    {% for archive in selection limit:5 %}
    <li><a href="https://epsi-rns.github.io{{ archive.url }}"
      >{{ archive.title }}</a></li>
    {% endfor %}
  </ul>
{% endcapture %}

{% assign color = "orange" %}
{% include template/widget.html %}
