  <div class="white hoverable pt-1 pb-1">
    <div class="widget-header red lighten-4">

      <strong>Social Accounts</strong>
      <span class="fa fa-user is-pulled-right"></span>

    </div>
    <div class="widget-body red lighten-5">

      <ul class="widget-list">
      <li><span class="fab fa-telegram"></span>
        <a href="https://t.me/cahgentoo">@cahgentoo</a>
      </li>
      <li><span class="fab fa-google-plus"></span>
        <a href="https://plus.google.com/+epsinurwijayadi">+epsinurwijayadi</a>
      </li>
      <li><span class="fab fa-deviantart"></span>
        <a href="http://nurwijayadi.deviantart.com/">nurwijayadi</a>
      </li>
      <li><span class="fab fa-github"></span>
        <a href="https://github.com/epsi-rns">epsi-rns</a>
      </li>
      <li><span class="fab fa-gitlab"></span>
        <a href="https://gitlab.com/epsi-rns">epsi-rns</a>
      </li>
      <li><span class="fab fa-bitbucket"></span>
        <a href="https://bitbucket.org/epsi">epsi</a>
      </li>
      </ul>

    </div>
  </div>
