
  <section class="py-1" id="archive">
  {% for item in (0..terms.size) %}{% unless forloop.last %}
    {% assign this_word = term_array[item] | strip_newlines %}

    <div class="widget white z-depth-1 hoverable m-b-10">
      <div class="widget-header {{ color_main }} lighten-4">

        <div id="{{ this_word | slugify }}" class ="anchor-target">
          <span class="{{ page.term_icon }}"></span> 
          &nbsp; {{ this_word }}
        </div>

      </div>
      <div class="widget-body">

        <div class="archive-list py-1">
        {% for post in terms[this_word] %}
          {% if post.title != null %}
            {% include index/each-post.html %}
          {% endif %}
        {% endfor %}
        </div>

      </div>
    </div>

  {% endunless %}{% endfor %}
  </section>
