
  <div class="main_title"> 
    <h1 class="title is-4 blog-post-title"
        itemprop="name headline">
      <a href="{{ site.url | append:site.baseurl | append:page.url }}">
        {{ page.title }}</a>
    </h1>
  </div>

  <div class="field pt-1">
    <div class="is-pulled-left pb-1">
      {% if page.author %}
      <span class="meta_author tag is-small is-dark
                 indigo z-depth-1 hoverable">
        <span class="fa fa-user"></span>
        &nbsp;
        <span itemprop="author"
              itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ page.author }}</span></span>            
      </span>
      &nbsp;
      {% endif %}  

      <span class="meta-time tag is-small is-dark
                   green z-depth-1 hoverable">
      {% include post/time-elapsed.html %}
      </span>
      &nbsp;
    </div>

    <div class="is-pulled-right pb-1">
      {% for cat in page.categories %}
        <a href="{{ site.url | append:site.baseurl }}/categories/#{{ cat }}">
          <span class="tag is-light is-small teal z-depth-1 hoverable">
            <span class="fa fa-folder"></span>&nbsp;{{ cat }}</span></a>
      {% endfor %}
      &nbsp;

      {% for tag in page.tags %}
        <a href="{{ site.url | append:site.baseurl }}/tags/{{ tag }}">
          <span class="tag is-dark is-small teal z-depth-1 hoverable">
            <span class="fa fa-tag"></span>&nbsp;{{ tag }}</span></a>
      {% endfor %}
      &nbsp;
    </div>
  </div>

  <div class="is-clearfix"></div>
