
  <footer class="columns mx-1 my-1">

    <div class="column is-narrow has-text-centered">
      <img src="/assets/images/license/cc-by-sa.png" 
           class="bio-photo" 
           height="31"
           width="88"
           alt="CC BY-SA 4.0"></a>
    </div>

    <div class="column has-text-left">
      This article is licensed under:&nbsp;
      <a href="https://creativecommons.org/licenses/by-sa/4.0/deed" 
         class="text-dark">
        <b>Attribution-ShareAlike</b>
        4.0 International (CC BY-SA 4.0)</a>
    </div>

  </footer>

