
<script src="{{ site.baseurl }}/assets/js/custom-toggler.js"></script>
<section class="my-1 is-hidden-mobile">
  <button id="left_toggler"
          class="button is-outlined is-pulled-left
                 left_toggler_active">
    <span class="icon is-small">
      <i class="fas fa-angle-double-left"></i>
    </span>
  </button>
  <button id="right_toggler"
          class="button is-outlined is-pulled-right
                 right_toggler_active">
    <span class="icon is-small">
      <i class="fas fa-angle-double-right"></i>
    </span>
  </button>
  <div class="is-clearfix"></div>
</section>
