{% capture spaceless %}
  {% assign total_pages = paginator.total_pages %}

  {% assign links = paginator
                  | pagination_links: site.baseurl
                                    , page.paginate_root
                                    , site.pagination.permalink
  %}
{% endcapture %}

<nav class="pagination is-small is-centered" 
     role="navigation" aria-label="pagination">
  {% if total_pages > 1 %}

    <!-- First Page. -->
    {% unless paginator.page == 1 %}
      <a class="pagination-previous hoverable"
         href="{{ links.first }}"
         rel="first">First</a>
    {% else %}
      <a class="pagination-previous"
         title="This is the first page"
         disabled>First</a>
    {% endunless %}

    <!-- Previous Page. -->
    {% if paginator.previous_page %}
      <a class="pagination-previous hoverable"
         href="{{ links.prev }}" 
         rel="prev">Previous</a>
    {% else %}
      <a class="pagination-previous"
         title="This is the first page"
         disabled>Previous</a>
    {% endif %}

    <!-- Indicator Number. -->
    <a class="pagination-link" 
       disabled>Page: {{ paginator.page }} of {{ total_pages }}</a>

    <!-- Next Page. -->
    {% if paginator.next_page %}
      <a class="pagination-next hoverable"
         href="{{ links.next }}"
         rel="next">Next</a>
    {% else %}
      <a class="pagination-next"
         title="This is the last page"
         disabled>Next</a>
    {% endif %}

    <!-- Last Page. -->
    {% unless paginator.page == total_pages %}
      <a class="pagination-next hoverable"
         href="{{ links.last }}"
         rel="last">Last</a>
    {% else %}
      <a class="pagination-next"
         title="This is the last page"
         disabled>Last</a>
    {% endunless %}

    <!-- Dummy. Do not delete! -->
    <ul class="pagination-list">
    </ul>

  {% endif %}
</nav>


