{% capture spaceless %}
  {% assign total_pages = paginator.total_pages %}
  {% assign color_main  = page.color_main  | default: layout.color_main %}
{% endcapture %}

<nav class="pagination is-small is-centered" 
     role="navigation" aria-label="pagination">
  {% if total_pages > 1 %}

    {% capture spaceless %}
      {% assign page_current = paginator.page %}
      {% assign links = paginator
                      | pagination_links: site.baseurl
                                        , page.paginate_root
                                        , site.pagination.permalink
      %}
    {% endcapture %}

    <!-- First Page. -->
    {% unless paginator.page == 1 %}
      <a class="pagination-previous hoverable"
         href="{{ links.first }}"
         rel="first">First</a>
    {% else %}
      <a class="pagination-previous"
         title="This is the first page"
         disabled>First</a>
    {% endunless %}

    <!-- Previous Page. -->
    {% if paginator.previous_page %}
      <a class="pagination-previous hoverable"
         href="{{ links.prev }}" 
         rel="prev">Previous</a>
    {% else %}
      <a class="pagination-previous"
         title="This is the first page"
         disabled>Previous</a>
    {% endif %}

    <!-- Next Page. -->
    {% if paginator.next_page %}
      <a class="pagination-next hoverable"
         href="{{ links.next }}"
         rel="next">Next</a>
    {% else %}
      <a class="pagination-next"
         title="This is the last page"
         disabled>Next</a>
    {% endif %}

    <!-- Last Page. -->
    {% unless paginator.page == total_pages %}
      <a class="pagination-next hoverable"
         href="{{ links.last }}"
         rel="last">Last</a>
    {% else %}
      <a class="pagination-next"
         title="This is the last page"
         disabled>Last</a>
    {% endunless %}

    <ul class="pagination-list">
    <!-- Page numbers. -->
    {% for page_cursor in (1..total_pages) %}
      <li>
      {% if page_cursor == page_current %}
        <a class="pagination-link is-current {{ color_main }}" 
           aria-label="Page {{ page_cursor }}">
          {{ page_cursor }}
        </a>
      {% else %}
        <a class="pagination-link hoverable"
           href="{{ links.pages[page] }}"
           aria-label="Goto page_cursor {{ page_cursor }}">
          {{ page_cursor }}
        </a>
       {% endif %}
      </li>
    {% endfor %}
    </ul>

  {% endif %}
</nav>

