{% capture spaceless %}
  {% assign total_pages = paginator.total_pages %}
  {% assign color_main  = page.color_main  | default: layout.color_main %}
{% endcapture %}

<nav class="pagination is-small is-centered"
     role="navigation" aria-label="pagination">
  {% if total_pages > 1 %}
  
    {% capture spaceless %}
      <!--
        Pagination links 
        * https://glennmccomb.com/articles/how-to-build-custom-hugo-pagination/
      -->

      {% assign link_offset   = 2 %}  
      {% assign page_current  = paginator.page %}
      {% assign links = paginator
                      | pagination_links: site.baseurl
                                        , page.paginate_root
                                        , site.pagination.permalink
      %}
    {% endcapture %}

    <ul class="pagination-list">

    <!-- Page numbers. -->
    {% for page_cursor in (1..total_pages) %}

      {% capture spaceless %}
        <!-- Flag Calculation -->
        {% assign page_current_flag = page_cursor
                  | is_show_adjacent: page_current
                                    , total_pages
                                    , link_offset %}
      {% endcapture %}

      {% if page_current_flag == true %}
      <!-- Show Pager. -->
      <li>
        {% if page_cursor == page_current %} 
        <a class="pagination-link is-current {{ color_main }}"
           aria-label="Page {{ page_cursor }}">
          {{ page_cursor }}
        </a>
        {% else %}

        <a class="pagination-link hoverable"
           href="{{ links.pages[page] }}"
           aria-label="Goto page_cursor {{ page_cursor }}">
          {{ page_cursor }}
        </a>
        {% endif %}
      </li>
      {% endif %}

    {% endfor %}

    </ul>
  {% endif %}
</nav>
