{% capture spaceless %}
  {% assign total_pages = paginator.total_pages %}
  {% assign color_main  = page.color_main  | default: layout.color_main %}
{% endcapture %}

<nav class="pagination is-small is-centered"
     role="navigation" aria-label="pagination">
  {% if total_pages > 1 %}

    {% capture spaceless %}
      <!--
        Pagination links 
        * https://glennmccomb.com/articles/how-to-build-custom-hugo-pagination/
      -->

      {% assign page_current  = paginator.page %}
      {% assign links = paginator
                      | pagination_links: site.baseurl
                                        , page.paginate_root
                                        , site.pagination.permalink
      %}

      {% assign link_offset   = 2 %}  
      {% assign link_max      = link_offset   | times: 2 | plus: 1 %}
  
      {% assign lower_offset  = page_current  | minus: link_offset %}  
      {% assign upper_offset  = page_current  | plus: link_offset %}  

      {% assign lower_indicator = 2 %}
      {% assign upper_indicator = total_pages | minus: 1 %}
    {% endcapture %}

    <ul class="pagination-list">

      <!-- First Page. -->
      <li class="icon-first">
      {% unless paginator.page == 1 %}
        <a class="pagination-previous hoverable"
           href="{{ links.first }}"
           rel="first">
          <span class="fas fa-step-backward"></span>&nbsp;</a>
      {% else %}
        <a class="pagination-previous"
           title="This is the first page"
           disabled>
          <span class="fas fa-step-backward"></span>&nbsp;</a>
      {% endunless %}
      </li>

      <!-- Previous Page. -->
      <li class="icon-previous">
      {% if paginator.previous_page %}
        <a class="pagination-previous hoverable"
           href="{{ links.prev }}" 
           rel="prev">
          <span class="fas fa-backward"></span>&nbsp;</a>
      {% else %}
        <a class="pagination-previous"
           title="This is the first page"
           disabled>
          <span class="fas fa-backward"></span>&nbsp;</a>
      {% endif %}
      </li>

    {% if total_pages > link_max %}
      <!-- First Page. -->
      {% if lower_offset > 1 %}
      <li>
        <a class="pagination-link hoverable"
           href="{{ links.first }}"
           aria-label="Goto page_cursor 1">1</a>
      </li>
      {% endif %}

      <!-- Early (More Pages) Indicator. -->
      {% if lower_offset > lower_indicator %}
      <li class="pages-indicator">
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      {% endif %}
    {% endif %}

    <!-- Page numbers. -->
    {% for page_cursor in (1..total_pages) %}

      {% capture spaceless %}
        <!-- Flag Calculation -->
        {% assign page_current_flag = page_cursor
                  | is_show_adjacent: page_current
                                    , total_pages
                                    , link_offset %}

        {% if page_current_flag == true %}
        <!-- Calculate Offset Class. -->
          {% assign diff_offset = page_cursor | minus: page_current | abs %}
        {% endif %}
      {% endcapture %}

      {% if page_current_flag == true %}
      <!-- Show Pager. -->
      <li class="pagination--offset-{{ diff_offset }}">
        {% if page_cursor == page_current %} 
        <a class="pagination-link is-current {{ color_main }}"
           aria-label="Page {{ page_cursor }}">
          {{ page_cursor }}
        </a>
        {% else %}
        <a class="pagination-link hoverable"
           href="{{ links.pages[page] }}"
           aria-label="Goto page_cursor {{ page_cursor }}">
          {{ page_cursor }}
        </a>
        {% endif %}
      </li>
      {% endif %}

    {% endfor %}

    {% if total_pages > link_max %}
      <!-- Late (More Pages) Indicator. -->
      {% if upper_offset < upper_indicator %}
      <li class="pages-indicator">
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      {% endif %}

      <!-- Last Page. -->
      {% if upper_offset < total_pages %}
      <li>
        <a class="pagination-link hoverable" 
           href="{{ links.last }}"
           aria-label="Goto page_cursor {{ total_pages }}">
          {{ total_pages }}</a>
      </li>
      {% endif %}
    {% endif %}

      <!-- Next Page. -->
      <li class="icon-next">
      {% if paginator.next_page %}
        {% assign p_next = paginator.next_page_path
                         | prepend: site.baseurl %}
        <a class="pagination-next hoverable"
           href="{{ links.next }}"
           rel="next">&nbsp;
          <span class="fas fa-forward"></span></a>
      {% else %}
        <a class="pagination-next"
           title="This is the last page"
           disabled>&nbsp;
          <span class="fas fa-forward"></span></a>
      {% endif %}
      </li>

      <!-- Last Page. -->
      <li class="icon-last">
      {% unless paginator.page == total_pages %}
        <a class="pagination-next hoverable"
           href="{{ links.last }}"
           rel="last">&nbsp;
          <span class="fas fa-step-forward"></span></a>
      {% else %}
        <a class="pagination-next"
           title="This is the last page"
           disabled>&nbsp;
          <span class="fas fa-step-forward"></span></a>
      {% endunless %}
      </li>

    </ul>
  {% endif %}
</nav>
